.back-next{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 20px;
}

.back-next .cback{
    border: 1px solid green;
    background-color: rgb(59, 230, 156);
    border-radius: 3px;
}

.back-next .cback a{
    color: gray;
}.back-next .cback:hover{
    background-color: green;
}

.grip{
    padding-top: 40px;
    max-width: 1200px;
    margin: auto;
}

.produc{
    display: flex;
    justify-content: center;

}

.produc-img{
    width: 50%;
    flex:1;

}

.produc-img .fix{
    height: 377px;
}

.produc-img img{
    width: 100%;
}

.produc-img-1 .pro-1,h4,h5,h6 {
    margin-left: 20px;
}

.sell{
    display: block;
}

.sell-kg{
    padding-bottom: 20px;
    display:flex;
}
 .sell-kg p{
     border: 1px solid green;
     margin-left: 20px;
     padding: 5px;
     cursor: pointer;
 }
.sell-kg .kg,.sell .tyle{
    border: 1px solid blue;
}
 
.sell-loca{
    margin-left: 20px;
    margin-bottom: 10px;
}

.btn :hover{
    cursor: pointer;
    background-color: red;
}
.sell-kg p:hover{
    border-color: blue;
}

.sale{
    margin-left: 20px;
}

ul{
    padding-left:20px;
}

.grsale,ul{
    border: 1px green solid;
    background-color:rgb(140, 241, 241);;
}

p{
    font-size: 16px;
    line-height: 24px;
    color: #333;
}

h3,h4,h5,h6{
    line-height: 24px;
}

.infor{
    display: flex;
}
.infor span{
    max-width: 33%;
    flex: 1;
    padding-left: 20px;
}

.infor-fix{
    padding-top: 40px;
}




































/* test reponsiv */

@media only screen and (max-width:768px){
    html{
        font-size: 50%;
    }
    .nav-2{
        display: none;
    }

    header{
        display: flex;
        justify-content: center;
    }

    .grip{
        padding-top: 40px;
        max-width: 650px;
        margin: auto;
    }

    .produc-img .fix{
        height: auto;
    }

    .sell-loca{
        margin-left: 10px;
        margin-bottom: 5px;
    }

    .sale{
        margin-left: 10px;
    }

    .sell-kg{
        padding-bottom: 10px;

    }
     .sell-kg p{
  
         margin-left: 10px;
         padding: 2px;

     }

     ul{
         display: flex;
         justify-content: center;
         list-style: none;
     }
}

@media only screen and (max-width:450px){
    div a img{
        width: 100%;
        border: 2px solid rgb(183, 232, 183);
        border-radius: 5px;
        box-shadow: 2px 2px rgb(156, 246, 246);
        height: 300px;
    }

    .grip{
        padding-top: 20px;
        max-width: 400px;
        margin: auto;
    }
}