*{
    margin: 0;padding: 0;
    border: 0;box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}
.header-home{
    text-align: center;
    padding-top: 20px;
    color: orange
}

h2{
    color:rgb(125, 105, 66);
}

.rol{
    max-width: 1080px;
    margin: auto;
    margin-top: 40px;
}

.rol-1{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

html{
    font-weight: 400;
    line-height: 24px;
}

.back{
    border: 1px solid rgb(198, 90, 90);
    margin-left: 40px;
    text-decoration: none;
    border-radius: 3px;
    color: #333;
    background-color: aqua;
    cursor: pointer;
}

.back:hover{
    background-color: orange;
}

.imger{
    flex: 0 0 40%;
}


.imger img{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 15px gray;
}

h4{
    color:orange;
}

p{
    padding-bottom: 10px;
}