*{
    margin: 0;border: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
.header{
    text-align: center;
    margin: 2rem;
    font-size: 1.8rem;
}
h3{
    color: #333;
}
.images{
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.list{
    flex: 1;
    display: flex;
    flex-direction: column;

}

.list-center{
    margin-left: 1rem;
}

.list-item{
    border-radius: .5rem;
    box-shadow: 0 0 1.5rem #333;
    margin-bottom: .5rem;
}

.list-item img{
    width: 100%;
    border-radius: .5rem;
}

.list-item:hover{
    transform: scale(1.025);
}















